body,
.background {
    background-image: url(../images/gems2.jpg)
}

.display {
    background-image: url(../images/gems.jpeg)
}

h1,
h5,
p {
    text-align: center;
}

h1,
h5 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 300%;
    color: deeppink;
}

p {
    font-family: 'Karla', sans-serif;
    background: #fff4ef;
}

h5 {
    background: #201f1d;
    width: 100px;
    margin: 0 auto;
}

#gem-holder {
    margin-left: 275px;
}

